body {
    font-family: "kulturista-web", serif;
    font-weight: 700;
    font-style: normal;
}
.fontfam{
    font-size: 30px;
    color: blueviolet;
}
.medium{
    font-family: "kulturista-web", serif;
    font-weight: 400;
    font-style: normal;
}
.thin{
    font-family: "kulturista-web", serif;
    font-weight: 100;
    font-style: normal;
}
.thinitalic{
    font-family: "kulturista-web", serif;
    font-weight: 100;
    font-style: italic;
}
.light{
    font-family: "kulturista-web", serif;
    font-weight: 300;
    font-style: normal;
}
.lightitalic{
    font-family: "kulturista-web", serif;
    font-weight: 300;
    font-style: italic;
}
.meditalic{
    font-family: "kulturista-web", serif;
font-weight: 400;
font-style: italic;
}
.semibold{
    font-family: "kulturista-web", serif;
    font-weight: 600;
    font-style: normal;
}
.semibolditalic{
    font-family: "kulturista-web", serif;
    font-weight: 600;
    font-style: italic;
}
.bold{
    font-family: "kulturista-web", serif;
    font-weight: 700;
    font-style: normal;
}
.bolditalic{
    font-family: "kulturista-web", serif;
    font-weight: 700;
    font-style: italic;
}
.infotext{
    max-width: 50% ;
    display: flex;
    align-self: end;
}
.year {
    font-size: xx-large;
}
